@use '../../scss/abstracts/variables' as var;

.pagination-container {
  display: flex;
  gap: 0.4rem;
  list-style-type: none;

  .pagination-item {
    display: flex;
    font-size: var.$font-size-small;
    width: 3.4rem;
    height: 3.4rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var.$border-radius-medium;
    padding: var.$padding-smaller;
    color: var.$white;

    &.dots {
      pointer-events: none;
      color: var.$white-disabled;
    }

    ion-icon {
      font-size: var.$font-size-big;
    }

    &.selected {
      background-color: var.$dark-blue-hover;
    }

    &.disabled {
      pointer-events: none;
      color: var.$white-disabled;
    }

    &:hover {
      background-color: var.$dark-blue-hover;
    }
  }

  @media (max-width: var.$screen-breakpoint-biggest) {
    padding: var.$padding-small;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;

    .pagination-item {
      font-size: var.$font-size-small;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: var.$border-radius-small;
      padding: var.$padding-smallest;

      ion-icon {
        font-size: var.$font-size-medium;
      }
    }
  }

  @media (max-width: var.$screen-breakpoint-small) {
    justify-content: space-between;
    padding: 0;

    .pagination-item {
      width: max-content;
      height: max-content;

      ion-icon,
      &.dots,
      &.selected,
      &.disabled {
        font-size: var.$font-size-small;
      }
    }
  }
}
