@use '../abstracts/variables' as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
}

button {
  border: none;
  font-weight: 600;
  border-radius: var.$border-radius-small;
}