@use '../../scss/abstracts/mixins' as mix;
@use '../../scss/abstracts/variables' as var;

.main {
  @include mix.flexbox(column, center, center, 2rem);
  padding: var.$padding-medium 0;

  @media (max-width: var.$screen-breakpoint-biggest) {
    width: 100%;
    padding: var.$padding-small;
  }
}
