$black: #252422;
$white: #dedede;
$gray: #d6d6d6;
$box-shadow-card: 0 0 4rem rgba($black, $alpha: 0.3);
$padding-bigger: 4rem;
$padding-bib: 3rem;
$padding-medium: 2rem;
$padding-small: 1rem;
$padding-smaller: 0.5rem;
$margin-bigger: 4rem;
$margin-bib: 3rem;
$margin-medium: 2rem;
$margin-small: 1rem;
$margin-smaller: 0.5rem;
