@use '../../../../scss/abstracts/variables' as var;
@use '../../../../scss/abstracts/mixins' as mix;

.comment {
  width: 100%;
  @include mix.flexbox(column, center, center, 1rem);

  &-field {
    width: 100%;
    resize: vertical;
    background-color: var.$white;
    font-size: var.$font-size-small;
  }

  &-button {
    align-self: center;
    width: 8rem;
    height: 2.3rem;
  }
}