@use '../../scss/abstracts/mixins' as mix;
@use '../../scss/abstracts/variables' as var;

.container {
  @include mix.grid(3, 1fr, 1rem);
  width: var.$width-bigger;

  .loader {
    grid-column: 1 / -1;
  }

  @media (max-width: var.$screen-breakpoint-biggest) {
    width: 100%;
    justify-content: center;
    padding: var.$padding-small;
    @include mix.grid(2, 350px, 1rem);
  }

  @media (max-width: var.$screen-breakpoint-bigger) {
    @include mix.grid(2, 310px, 1rem);
  }

  @media (max-width: var.$screen-breakpoint-big) {
    @include mix.grid(2, 280px, 1rem);
  }

  @media (max-width: var.$screen-breakpoint-medium) {
    @include mix.grid(2, 240px, 1rem);
  }

  @media (max-width: var.$screen-breakpoint-small) {
    @include mix.grid(2, 100%, 1rem);
  }

  @media (max-width: var.$screen-breakpoint-smaller) {
    @include mix.grid(1, 100%, 1rem);
  }
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var.$padding-small;
}

.center-login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 var.$padding-small;
}
