@use '../../scss/abstracts/variables' as var;
@use '../../scss/abstracts/mixins' as mix;

.navbar {
  @include mix.flexbox(row, center, center, 1rem);
  width: var.$width-bigger;
  height: var.$navbar-height;
  color: var.$white;
  background-color: var.$navbar-blue;
  border-radius: var.$border-radius-medium;

  &-list {
    width: 100%;
    height: 100%;
    @include mix.grid(12, 1fr, 0);
    align-items: center;
    justify-content: center;
    list-style: none;

    &__logo {
      justify-self: end;
      grid-column: 1 / 3;
      font-size: var.$font-size-medium;
      font-weight: 600;
    }

    &__search {
      grid-column: 5 / 9;
      @include mix.flexbox(row, end, unset, 0);

      .list__search-input {
        width: 100%;
        height: var.$input-height-small;
        border-radius: var.$border-radius-small;
        text-indent: var.$padding-smaller;
        background-color: var.$white;
      }
    }

    &__login {
      grid-column: 11 / -1;

      .link {
        display: inline-block;
        text-align: center;
        width: 115.31px;
        background-color: var.$white;
        padding: var.$padding-smallest 0;
        color: var.$navbar-blue;
        border-radius: var.$border-radius-small;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
      }
      
      .logout {
        display: inline-block;
        text-align: center;
        width: 115.31px;
        background-color: var.$red;
        padding: var.$padding-smallest 0;
        color: var.$white;
        border-radius: var.$border-radius-small;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  @media (max-width: var.$screen-breakpoint-biggest) {
    width: 100%;
  }
}
